
/*RESET*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*COMMON*/

.dotted {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: gray;
    line-height: 1rem;
}

/*main*/

/*image*/

.hotel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*description-section*/

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 185, 110);
    margin: 1px;
}

.ms_flex {
    display: flex;
}

/*price-section*/

.left_text {
    
}

.right_btn {
    text-align: right;
}

/*content-price-section*/

.line-through {
    text-decoration: line-through;
    color: red;
}

.btn_yellow {
    background-color: rgb(244, 188, 0);
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
}